@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Multi', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    width: 90vw;
}

.panel{
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin: 10px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    height: 80vh;
    flex: 0.5;
    position: relative;
    transition: flex 0.7s ease-in;
}
.panel.active{
    flex: 5;
}

.panel h1, .panel h2, 
.panel h3, .panel h6, .panel h5{
    position: absolute;
    opacity: 0;
}

.panel h3{
    font-size: 24px;
    bottom: 50px;
    left: 40px;
    margin: 0;
}

.panel.active h3, .panel.active h6, 
.panel.active h2, .panel.active h1, .panel.active h5{
    opacity: 1;
    transition: opacity 0.5s ease-in 0.7s;
}

.panel h6{
    font-size: 15px;
    left: 50%;
    bottom: 90px;
    margin: 0;
}

.panel h2{
    margin: 0;
    bottom: 140px;
    left: 120px;
    font-size: 30px;
}

.panel h1{
    left: 30px;
    font-size: 50px;
}

.panel h5{
    margin: 0;
    right: 45px;
    bottom: 25px;
    font-size: 15px;
}

@media (max-width: 500px){
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4), :nth-of-type(5){
        display: none;
    }
}